.course-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


/* Title Container */
.course-title-container {
  display: flex;
  flex-direction: column;
  align-self: start;
}
.course-title {
  font-size: 2rem;
  margin-bottom: 0px;
}

/* Description with Rating Container */
.course-description-rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  border-top: 1px solid #f0f0f0;
}

.course-description-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.course-description-title-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.course-description-title#selected {
  opacity: 1;
}
.course-description-title#unselected {
  opacity: 0.3;
  cursor: pointer;
}
.course-description-title#unselected:hover {
  cursor: pointer;
  opacity: 1;
}
.course-description-title {
  margin-bottom: 0px;
}
.course-description {
  height: 100%;
  max-height: calc(291.51px - 38.8px);
  overflow-y: hidden;
}
.course-description-expand {
  max-height: none;
  overflow-y: none;
}
.course-description-load {
  width: fit-content;
  align-self: center;
}

.course-rating-container {
  display: flex;
  flex-direction: column;
}
.course-rating-title {
  margin-bottom: 0px;
}
.course-rating-type-container {
  display: flex;
  flex-direction: column;
}
/****************************************/

/* Schedule Container */
.course-schedule-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border-top: 1px solid #f0f0f0;
}
/****************************************/


/* Comments Container */
.course-comments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-top: 1px solid #f0f0f0;
}

.course-comments-type-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-comments-query-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.course-comments-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}