.rectangle-chart{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.rectangle-chart-container {
  display: flex;
  width: 100%;
  height: 20px;

  background-color: #caf0f8;
  border: 1px solid #caf0f8;
  border-radius: 8px;
}

.rectangle-chart-bar {
  background-color: #0077b6;
  /* background-color: #03045e; */
  border-radius: 8px;

  width: var(--target-width);
  animation: growWidth 1s forwards;
}

@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}
