.weekly-calendar {
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
}

.calendar_body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid #ccc;
}

.calendar_day {
  display: grid;
  grid-template-rows: auto repeat(6, 1fr);
  
  border-right: 1px solid #ccc;
}
.calendar_day:last-child {
  border-right: none;
}

.calendar_hour {
  border-top: 1px solid #ccc;
}
.calendar_hour:first-child {
  border-top: 0px solid #ccc;
}

.calendar_day_header {
  margin-left: 5px;
}
