.weekly-calendar {
  display: flex;
  flex-direction: column;
  min-width: 1025px;
  min-height: 813.67px;
  max-width: 1025px;

  /* border-radius: 8px;
  border: 1px solid #ccc; */
  --header-height: 3.5em;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5em;
}
.calendar_header button {
  /* border: none;
  background-color: transparent;
  cursor: pointer; */
  height: fit-content;
}

.calendar_body {
  display: grid;
  grid-template-columns: auto repeat(5, 1fr);
  height: 100%;
}

.calendar_hours_label {
  display: grid;
  grid-template-rows: var(--header-height) repeat(6, 1fr);
  border-right: 1px solid #ccc;
}

.calendar_day {
  display: grid;
  grid-template-rows: var(--header-height) repeat(6, 1fr);
  
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}
.calendar_day:first-child {
  box-shadow:none;
  border: none;
  border-top: 1px solid transparent;
}
.calendar_day:nth-child(2) {
  border-radius: 8px 0px 0px 0px;
  border-left: 1px solid #ccc;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px
}
.calendar_day:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.calendar_day#hours_label_column{
  text-align: end;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  span{
    padding-right: 5px;
    font-size: 0.8em;
  }
  span.label_hour_top {
    align-self: flex-end;
    width: fit-content;

    /* border-top: 1px solid #ccc; */
  }
}
.calendar_day#hours_label_column .calendar_day_header_placeholder {
  height: 3.5em; /* Ensure the height is consistent */
}

.calendar_hour {
  display: flex;
  flex-direction: row;

  border-top: 1px solid #ccc;
}
.calendar_hour:first-child {
  border-top: 0px solid #ccc;
}

.calendar_day_header {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}
.calendar_day_header#monday_container {
  border-top-left-radius: 8px;
}
.calendar_day_header#friday_container {
  border-top-right-radius: 8px;
}

.calendar_day_header_title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}
