.calendar-event {
  display: flex;
  flex-direction: column;

  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.calendar-event > h3 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}
