.course-comment-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 1em;

  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

/**********************************************/

.course-comment-profile-container {
  display: flex;
  gap: 0.5em;
}
.course-comment-profile-container > div{
  display: flex;
  flex-direction: column;
}
.course-comment-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.course-comment-profile-user{
  font-weight: bold;
}
.course-comment-profile-date{
  color: #a0a0a0;
  font-size: 0.8em;
}

.course-comment-description-rating {
  display: flex;
  gap: 1em;
}

/**********************************************/

.course-comment-description-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 2;
}
.course-comment-description-container > span{
  font-size: 0.95em;
}
.course-comment-description-container .title {
  margin: 0px;
}
.course-comment-description-container .professor {
  display: flex;
  align-items: end;
  height: 100%;
  gap: 0.3em;

  span {
    color: #a0a0a0;
    font-size: 0.8em;
  }
  a {
    font-size: 0.85em;
  }
}

.course-comment-rating-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
.course-comment-rating-container > div {
  display: flex;
  height: fit-content;
  gap: 0.5em;
}

.course-comment-rating-title {
  align-self: center;
  justify-items: end;

  h4 {
    margin: 0;
  }
}